.venv/
.env
.pyautogen/
autogen_rag_chroma/docs/ag_studio.pdf
__pycache__
# Ignore all __pycache__ directories
**/__pycache__/
.DS_Store
.idea/
_integrations/youtube-summarizer/
crewai_series/ai.code-workspace
ai_agency_08_checklistai/instance/checklists.db
ai_agency_08_checklistai/migrations/alembic.ini
ai_agency_08_checklistai/migrations/script.py.mako
ai_agency_08_checklistai/migrations/versions/b1030fc3c9e7_add_checklistitem_model.py
ai_agency_08_checklistai/migrations/versions/05fb2bd9e832_make_schedule_time_nullable.py
ai_agency_08_checklistai/migrations/versions/d2881ce4c4cb_.py
