# filename: styles.css
body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

#my_button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
}