body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

.container-full-width {
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

h1 {
    color: #333;
}

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #555;
}

.workout-plan h1 {
    text-align: center;
    margin-bottom: 30px;
}

.workout-plan-section {
    margin-bottom: 40px;
}

#exportPDF {
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

#exportPDF:hover {
    background-color: #0056b3;
    text-decoration: none;
    color: white;
}